body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.ring {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 1;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 6px solid #dbcdcd38;
  border-radius: 50%;
  box-sizing: border-box;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring:hover i:nth-child(1) {
  border: 6px solid #1e3a8a;
  filter: drop-shadow(0 0 20px #ffffff96);
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring:hover i:nth-child(2) {
  border: 6px solid #3b82f6;
  filter: drop-shadow(0 0 20px #ffffffbd);
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i:nth-child(3) {
  border: 6px solid #f97316;
  filter: drop-shadow(0 0 20px #ffffffcc);
}

.login {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.inputBx {
  margin-bottom: 15px;
}

.inputBx input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #222;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.inputBx input:focus {
  border-color: #0843af;
  box-shadow: 0 0 10px #0843af;
  background: #333;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0843af;
  box-shadow: 0 0 10px #ffffff;
}

.btn:active {
  background: #ffffff;
  transform: scale(0.98);
}

.logo {
  color: #fff;
  font-family: sans-serif;

  border-radius: 10px;
  width: 80%;
  text-align: center;
  text-shadow: #1100ff 5px 5px 30px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.seta-back {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
