/* 🔍 Estilos gerais para o menu de navegação */
.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
.logo-container {
  margin-right: 20px;
}

/* 🔍 Container de pesquisa */
.search-container {
  margin-left: 20px;
}

.container-search {
  display: flex;
  align-items: center;
  background: #0d274d;
  padding: 8px 15px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#search-input {
  border-radius: 80px;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Lupa */
#search-btn {
  background-color: gray;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.container-search:hover #search-input {
  width: 150px;
  opacity: 1;
}
